$font-family-serif: Garamond, "Times New Roman", serif;
$font-family-sans-serif: "Helvetica", Helvetica, Arial, sans-serif;
$newHelvetica-font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;
$circle-red: #EC1C24;
$circle-blue: #1C8DEC;
$border-grey: #E2E2E2;
$heiglight: #F1F1F1;

html {
  font-size: 12px;

  // @include lg {
  //   font-size: 12px;
  // }
  //
  // @include xl {
  //   font-size: 14px;
  // }
}

body {
  color: $black;
  font-family: $font-family-sans-serif;
}

.App {
  font-size: 1.8rem;
  padding-top: 0;
}

a {
  color: $grey-text;
}

a:hover {
  color: $black;
}

h1,
h2,
h3 {
  margin: 2rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

button {
  background: transparent;
  border: 0.1rem solid $black;
  cursor: pointer;
  font-size: 1.5rem;
}

button:disabled {
  opacity: 0.3;
}

.Page {
  max-width: 106.66rem;
  margin: 0 auto;
}


.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;

  font-size: 1.3333333rem;
  font-family: $newHelvetica-font-family-sans-serif;
}

.redCircle {
  background-color: $circle-red;
  color: white;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  &:hover {
    background-color: $circle-blue;
  }
  &:hover + .tooltip {
      opacity: 100;
      transition: opacity 0.5s;
  }
}

.viewContainer {
  width: 100%;
  border-right: 0.083333rem solid $border-grey;
  border-left: 0.083333rem solid $border-grey;
  @include md {
    border: transparent;
  };
}



.oneWeek {
  display: flex;
  width: 100%;
  justify-content: space-around;
  @include md {
    justify-content: space-between;
  };
  >div {
    position: relative;
  }
}

.monthContainer {
  display: flex;
  padding-left: 0.16666rem;
  margin: 0 0 1.25rem 1.583333rem;
  font-size: 3.25rem;
  @include md {
    font-size: 4.25rem;
    margin-left: 0;
  };
}

.weekContainer {
  display: flex;
  align-items: center;
  padding: 0.41666rem 0.5rem 1rem 0.5rem;
  border-left: 0.083333rem solid $border-grey;
  @include md {
    border-left: none;
    padding: 0.41666rem 0 1rem 0;
  };
  &:nth-child(4n + 1) {
    border-left-color: transparent;
  }
}


.animateClass {
 @extend .weekContainer;
  border-left: 0.083333rem solid $border-grey;
  @include md {
    border: transparent;
  };
}

.invisible {
  display: none;
}

.wideScreenScrollButtons {
  display: flex;
  flex-shrink: 0;
  @include md {
    display: none;
  };
}
.mobileScreenScrollButtons {
  display: none;
  @include md {
    position: relative;
    display: flex;
    flex-shrink: 0;
    background: white;
    align-self: baseline;
    padding-top: 1.83333rem;
  };
}
.logoGroup {
  >img {
    display: flex;
    align-self: baseline;
  }
  @include md {
    display: block;
  };
}
.filterGroup {
  display: flex;
  margin-left: 3.08333rem;
  @include md {
    margin: 2.91666rem 0 0 0;
  };
  >span {
    flex-shrink: 0;
    margin-right: 0.8333rem;
    margin-top: 1.41666rem;
    font-size: 1.16666rem;
    font-family: $newHelvetica-font-family-sans-serif;
  }
  @include md {
    display: block;
  };
  .buttons {
    display: flex;
    flex-wrap: wrap;
    .searchGrop {
      display: flex;
      padding: 0.8333rem 0;
    }
    .elementDiv {
      display: flex;
      align-self: baseline;
      margin-top: 0.625rem;
      padding: 0.666rem 0.75rem 0.75rem 1.3333rem;
      border-radius: 0.333rem;
      border: 0.083333rem solid #D0D0D0;
      margin-right: 0.83333rem;
      >span {
        font-size: 1.16666rem;
        margin-right: 2.5rem;
      }
      >button {
        outline: none;
        border: none;
        margin-top: 0.083333rem;
        height: 1.16666rem;
        background-image: url(../assets/img/x_symbol.svg);
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }

  .addFilter {
    &:hover #Oval {
      fill: $circle-red;
    }
    align-self: center;
    padding: 0px;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    transform: rotate(0deg);
    transition: transform 1s;
  }
  .rotate {
    @extend .addFilter;
    transform: rotate(45deg);
    transition: transform 1s;
  }
  .filterDrop {
    position: relative;
    align-self: center;
    > div {
      overflow: hidden;
    }
    .cancelInput {
      position: absolute;
      margin-top: 4px;
      right: 0px;
      outline: none;
      border: none;
      height: 14px;
      background-image: url(../assets/img/x_symbol.svg);
      background-position: center center;
      background-repeat: no-repeat;
      @include  md{
        height: 10px;
        background-size: contain;
      };
    }
    .filterInput {
      &::placeholder {
        color: $black;
      }
      animation: slideIn 1s ease;
      outline: none;
      border: none;
      margin-left: 10px;
      font-size: 19px;
      @include md {
        font-size: 14px;
      };
      border-bottom: 1px solid $black;
      width: 18em;
      &:focus {
        border: none;
        border-bottom: 1px solid $circle-red;
      }
    }
    .reverseInput {
      @extend .filterInput;
      animation: slideOut 1100ms ease;
    }
    @keyframes slideOut {
      0%   { transform: translateX(0em);}
      100% { transform: translateX(-19em); }
    }
    @keyframes slideIn {
      0%   { transform: translateX(-19em);}
      100% { transform: translateX(0em); }
    }
    .dropMenu {
      position: absolute;
      z-index: 200;
      margin-left: 10px;
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, .12);
      border-top: none;
      font-size: 19px;
      width: 18em;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .13),
                  inset 0 1px 3px 0  rgba(0, 0, 0, .5);
      max-height: 200px;
      overflow: scroll;
      @include md {
        font-size: 14px;
      };
      .categoryClass {
        font-size: 12px;
        color: #7C7C7C;
        padding: 22px 0px 11px 26px;
        font-weight: 400;

      }
      .filterButton {
        width: 100%;
        text-align: start;
        padding: 0;
        padding: 9px 39px 12px 26px;
        border: none;
        &:hover {
        //  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, .13);
          border-radius: 0;
          background-color: $heiglight;
        }
      }
    }
  }
}


.rightButton {
  border: none;
  outline: none;
  &:hover #Rectangle-6 {
    fill: $circle-red;
  }
  padding: 0px;
  margin-left: 10px;
  height: 2.5rem;
  width: 2.5rem;
}

.leftButton {
  @extend .rightButton;
  transform: scale(-1, 1);
}

.buttonGroup {
  flex-shrink: 0;
  align-self: baseline;
  margin-top: 0.8333rem;
  @include md {
    align-self: center;
    margin: 0;
  };
}

.employeeContainer {
  position: relative;
  display: flex;
  width: 100%;
  .employeeInfo {
    background: $white;
    z-index: 10;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    width: 25%;
    padding: 0.41666rem 0 1rem 0;
    font-size: 1.75rem;
    @include md {
      font-size: 1.3333rem;
      width: 45%;
    };
    >span {
      margin-left: 0.8333rem;
      align-self: center;
    }
    >img {
      height: 4.1666rem;
      width: 4.1666rem;
    }
  }
  .headerViewContainer {
    @extend .viewContainer;
    border: none;
  }
}

.monthToggleDiv {
  @extend .employeeInfo;
  @include md {
   display: none !important;
  };
}

.daysRow {
  position: relative;
  width: 300%;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
}


.logoGroup {
  display: flex;
  @include md {
    display: block;
  };
}

.header {
  position: sticky;
  padding: 4.5rem 5.8333rem 2.91666rem 7.5rem;
  top: 0;
  z-index: 500;
  background-color: $white;
  display: flex;
  justify-content: space-between;
}

.headerBorder {
  border-bottom: 0.08333rem solid #E5E5E5;
}
.calendarHedder {
  display: flex;
  justify-content: space-between;
}

.calendarTable {
  margin: 0px 70px 0px 90px;
  padding-bottom: 15px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.noMatch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: #D4D4D4;
}

.loading {
  @extend .noMatch;
  >img {
    width: 12.5rem;
    @include md {
      width: 8.333rem;
    };
  }
}

.leaveType {
  padding: 0.75rem 1.333rem;
  background: white;
  border: 0.08333rem solid #D4D4D4;
  color: black;
  top: -0.8333rem;
  font-size: 1.1666rem;
  text-align: center;
}


.tooltip {
  width: 7.5rem;
  top: -3.41666rem;
  left: -2.5rem;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  pointer-events: none;
}

.dubbleRowPos {
  top: -4.8333rem;
}

.rightEdgePos {
  left: -5rem;
}

.leftEdgePos {
  left: 0;
}

.triangle {
  left: 3.1666rem;
  top: 2.5rem;
  position: absolute;
  margin: auto;
  width: 1.1666rem;
  height: 1.1666rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../assets/img/triangle.svg);
}

.dubbleRowTriangle {
  top: 3.8333rem;
}

.rightEdgeTrinagle {
  left: 5.666rem;
}

.leftEdgeTrinagle {
  left: 0.6666rem;
}

.wideItemClass {
  padding: 0.75rem 0.41666rem;
  width: 8.333rem;
}

.arrowHiglight {
  border-radius: 0;
  background-color: $heiglight;
}
