$font-family-serif: Garamond, "Times New Roman", serif;
$font-family-sans-serif: "Helvetica", Helvetica, Arial, sans-serif;
$newHelvetica-font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;
$circle-red: #EC1C24;
$circle-blue: #1C8DEC;
$border-grey: #E2E2E2;
$heiglight: #F1F1F1;

html {
  font-size: 12px;

  // @include lg {
  //   font-size: 12px;
  // }
  //
  // @include xl {
  //   font-size: 14px;
  // }
}

body {
  color: $black;
  font-family: $font-family-sans-serif;
}

.App {
  font-size: 1.8rem;
  padding-top: 0;
}

a {
  color: $grey-text;
}

a:hover {
  color: $black;
}

h1,
h2,
h3 {
  margin: 2rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

button {
  background: transparent;
  border: 0.1rem solid $black;
  cursor: pointer;
  font-size: 1.5rem;
}

button:disabled {
  opacity: 0.3;
}

.Page {
  max-width: 106.66rem;
  margin: 0 auto;
}

.loading {
  @extend .noMatch;
  >img {
    width: 12.5rem;
    @include md {
      width: 8.333rem;
    };
  }
}

.invisible {
  display: none;
}

.wideScreenScrollButtons {
  display: flex;
  flex-shrink: 0;
  @include md {
    display: none;
  };
}

.header {
  position: sticky;
  padding: 4.5rem 5.8333rem 2.91666rem 7.5rem;
  top: 0;
  z-index: 500;
  background-color: $white;
  display: flex;
  justify-content: space-between;
}
.headerBorder {
  border-bottom: 0.08333rem solid #E5E5E5;
}

.logoGroup {
  display: flex;
  >img {
    display: flex;
    align-self: baseline;
  }
  @include md {
    display: block;
  };
}
